# Kubernetes
k8s/secrets/
k8s/overlays/*/secrets/
*-secret.yaml
*-secret.yml

# Node.js / React
node_modules/
build/
dist/
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
app/backend/venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# System Files
.DS_Store

# Tmp
temp.md

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
terraform.tfvars
terraform/iam_policy.json

# Kubernetes
kubeconfig.yaml
*.kubeconfig

# Misc
Thumbs.db
